torch==2.6.0
transformers==4.53.3
torchvision

pandas
pydub
jiwer
paddlepaddle
paddlepaddle-gpu
paddleocr

cn2an>=0.5.23
kaldiio>=2.18.0
kaldi_native_fbank>=1.15
numpy>=1.26.1
peft>=0.13.2
sentencepiece

regex
contractions
editdistance
loguru
qwen_omni_utils
accelerate
